.btn {
  padding: 1px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  border-width: 1px;
  border-radius: 5px;
  &:not(:disabled) {
    cursor: pointer;
  }
}

input[type="checkbox"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
}
body.big-buttons {
  .btn {
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    padding-bottom: 4px;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 1px;
  }
}

body:not(.dark-mode) {
  button.btn {
    background-color: #e9e9ed;
    border-color: #8f8f9d;
    &:hover {
      background-color: #ccc;
    }
    &:active {
      background-color: #a5a5a5;
    }
    &:disabled {
      background-color: #999;
      border-color: #9c9c9f;
      color: #222;
    }
  }
}

body.dark-mode {
  button.btn {
    background-color: #e9e9ed;
    border-color: #8f8f9d;
    &:hover {
      background-color: #d8d8d8;
    }
    &:active {
      background-color: #a9a9a9;
    }
    &:disabled {
      background-color: #808080;
      border-color: #8f8f9d;
      color: #111;
    }
  }
}

body.dark-mode {
  #exchangeForRJ {
    background-color: #ffcc11;
    border-color: #ddaa00;
    text-shadow: #ffffaabb 0 0 4px;
    background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, #ee5025f5, #ffcc11);
    &:hover {
      border-color: #ccaa00;
      background-color: #ddaa00;
      background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, #d54525f5, #ddcc11);
    }
  }
}
