@mixin unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
@mixin transmition {
  transition-timing-function: cubic-bezier(0, 0.8, 1, 0.2);
  transition-duration: 55ms;
  transition-delay: 10ms;
}

.line {
  border-top: 1px solid silver;
  margin-top: 3px;
  padding-bottom: 3px;
}
