.tabs-container {
  max-width: 60vw;
  margin-bottom: 0px;
}

div[id*="TabContent"] {
  margin-top: 8px;

  div[class*="tabs-container"] {
    margin-top: -5px;
  }
}
div[class*="tabs-container"] {
  // @include unselectable;

  button {
    margin-bottom: 5px;
    font-size: medium;
    cursor: pointer;
  }
  div:first-child {
    margin-left: 5px;
  }
  div:last-child {
    margin-right: 5px;
  }
}

#mainTabContent,
#jellyTabContent,
#godsTabContent,
#statshelpTabContent,
#settingsTabContent {
  margin-bottom: 15px;
}
