:root {
  --ticksWidth: 40vw;
  --headerPadding: 0px;
}

body {
  margin: 0;
  width: calc(100vw - 1px);
  padding: 0;
  overflow-x: hidden;
}
#main {
  padding: 8px;
  padding-bottom: 22px;
}
* {
  box-sizing: border-box;
}
#mainTabContent,
#tabs-container {
  div {
    width: fit-content;
  }
}
button {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1px;
}
.smallgap {
  margin-bottom: 8px;
  /* margin-bottom: 36px; */
  /* background: #000; */
}
.mediumgap {
  margin-bottom: 15px;
}
.biggap {
  margin-bottom: 21px;
}
.lighttext {
  color: gray;
}
.w10 {
  width: 25px;
  display: inline-block;
}
#totalTributes {
  padding-left: 1px;
}
a {
  text-decoration: none;
}
#ticksLeft {
  min-width: 150px;
  display: inline-block;
}
// #main div {
//   width: 100%;
// }
.t {
  td,
  tr {
    margin: 0;
    padding: 0;
  }
  td {
    padding-right: 3px;
  }
}

body:not(.dark-mode) {
  &.bgc,
  *.bgc {
    background-color: white;
  }
  input[type="text"] {
    background-color: #fff;
    &:focus-within {
      background-color: #eee;
    }
    color: black;
    border: 0;
    text-align: right;
    font-family: monospace;
  }

  button {
    &:not(:disabled) {
      .recomended {
        color: #f00;
      }
    }
    &:disabled {
      .recomended {
        color: #f33;
      }
    }
  }
}

body.dark-mode {
  &.bgc,
  *.bgc {
    background-color: #222;
  }
  input[type="text"] {
    background-color: #222;
    &:focus-within {
      background-color: #333;
    }
    color: white;
    border: 0;
    text-align: right;
    font-family: monospace;
  }
  color: white;

  .lighttext {
    color: #999;
  }
  button {
    &:not(:disabled) {
      .recomended {
        color: #f00;
      }
    }
    &:disabled {
      .recomended {
        color: #f55;
      }
    }
  }
}
#absolute-container {
  z-index: 123;
}

#offlineTicks {
  top: 0px;
  right: 0px;
  text-align: right;
  position: fixed;
  width: fit-content;
  padding: 3px;
  z-index: 123;
}

@import "button";
@import "helper";
@import "tabs";

#settingsTabContent {
  table {
    tr {
      td {
        padding-right: 15px;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}

table.tbl {
  tr {
    td {
      text-align: center;
    }
  }
}
table.tbl2 {
  tr {
    td {
      padding-right: 15px;
    }
    td:nth-child(1) {
      text-align: right;
    }
    td:nth-child(2) {
      width: 120px;
      text-align: center;
    }
  }
}

table.tmr {
  tr {
    td {
      padding-right: 3px;
    }
    td:nth-child(1) {
      text-align: right;
    }
  }
}

.rjtext {
  color: #ff6411;
  background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, #ee5025f5, #ffcc11);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #fff4 0 0 4px;
}
*:disabled.rjtext {
  color: #ee5400;
  background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, #d54525f5, #ddcc11);
  text-shadow: #fff3 0 0 4px;
}

.fc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & div {
    padding: 5px;
    padding-bottom: 7px;
    text-align: center;
    width: calc(150px + 11vw);
    max-width: 250px;
    display: inline-block;
    div:nth-child(1) {
      text-decoration: underline;
    }
    &:not(:nth-child(1)) {
      padding-bottom: 10px;
    }
  }
}

#offlineTicks {
  pointer-events: none;
  input {
    pointer-events: all;
  }
}

.ng {
  margin-top: 0;
}

#RJlastReset,
#lastRJfromflowers,
#lastRJfrompollen,
#lastRJfromnectar,
#lastRJfromhoney,
#lastRJfrommoney {
  padding-left: 11px;
}

.mr10 {
  margin-right: 10px;
}
.pr10 {
  padding-right: 10px;
}

#quickautoflowerBuy,
#quickautobeeBuy,
#quickautohiveBuy {
  margin-left: 10px;
}

.fc2 {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .wrapper {
    text-align: center;
    width: 270px;
    max-width: 280px;
    height: 165px;
    margin: 3px;
    padding: 5px;
    position: relative;
  }
  .up {
    span {
      float: right;
    }
  }
  .down {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
  }
  .btn {
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

body.big-buttons .fc2 .btn {
  padding: 6px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: (1380px + 16px)) {
  .fc2 {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: (578px)) {
  .fc2 {
    margin-right: -20px;
    .wrapper {
      max-width: none;
      width: calc(90% + 5px);
      height: 145px;
      margin-bottom: 1px;
    }
  }
}
// ^  i still have no idea what im doing

#mainTabContent {
  padding-right: 8px;
}

body:not(.dark-mode) {
  #header {
    border-bottom: 1px solid #0003;
  }
  body:not(.more-contrast) {
    .wrapper {
      background-color: #2222;
      .up span {
        color: gray;
      }
    }
    .wrapper.d {
      .line {
        border-color: #3395;
      }
      background-color: #22228535;
      .up span {
        color: #77a;
      }
    }
  }

  body.more-contrast {
    .lighttext {
      color: #ddd;
    }
  }

  body.more-contrast {
    .line {
      border-color: #0009;
    }
    .wrapper {
      background-color: #2222;
      // background-color: #2224;
      .up span {
        color: #444;
      }
    }
    .wrapper.d {
      background-color: #22228535;
      .up span {
        color: #353565;
      }
    }
  }
}
body.dark-mode {
  #header {
    border-bottom: 1px solid #fff3;
  }
  &:not(.more-contrast) {
    .wrapper {
      background-color: #fff6;
      .up span {
        color: #fff;
      }
    }
    .wrapper.d {
      .line {
        border-color: #bbb3;
      }
      background-color: #22228535;
      .up span {
        color: #77a;
      }
    }
  }

  &.more-contrast {
    .lighttext {
      color: #777;
    }
    .line {
      border-color: #bbb5;
    }
    .wrapper {
      background-color: #2222;
      // background-color: #2224;
      .up span {
        color: #ccc;
      }
    }
    .wrapper.d {
      background-color: #22228535;
      .up span {
        color: #353565;
      }
    }
  }
}
#header {
  width: 100%;
  padding-left: 8px;
  padding-top: 5px;
  z-index: 123;
  min-height: 47px;
}
#header > #top {
  margin-top: -8px;
}
#header > #challenges-info {
  margin-top: -8px;
}

.sticky {
  position: fixed;
  top: 0;
}
#header.sticky + #main {
  padding-top: 5px;
}

#challenges-info {
  width: calc(100% - var(--ticksWidth));
  min-width: 120px;
}
#challengeCompletion,
#challengeCurrent,
#sacrificeWrapper span.lighttext {
  display: inline-block;
}
.footer {
  position: fixed;
  right: 3px;
  text-align: right;
  width: max-content;
  padding-left: 3px;
}
