body {
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
div {
  width: max-content;
}
button {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1px;
}
.smallgap {
  margin-bottom: 8px;
  /* margin-bottom: 36px; */
  /* background: #000; */
}
.mediumgap {
  margin-bottom: 15px;
}
.biggap {
  margin-bottom: 21px;
}
.lighttext {
  color: gray;
}
.w10 {
  width: 25px;
  display: inline-block;
}

a {
  text-decoration: none;
}
#ticksLeft {
  min-width: 150px;
  display: inline-block;
}
#main div {
  width: 100%;
}
.t {
  td,
  tr {
    margin: 0;
    padding: 0;
  }
  td {
    padding-right: 3px;
  }
}

body:not(.dark-mode) {
  #aboveaboveFooter,
  #insideOfflineTicks,
  #aboveFooter,
  #footer {
    background-color: #fffc;
  }
  #donateToFlowerGod {
    &:not(:disabled) #recomended {
      color: #f00;
    }
    &:disabled #recomended {
      color: #d66;
    }
  }
}

body.dark-mode {
  background-color: #222;
  color: white;

  .lighttext {
    color: #999;
  }
  button:disabled {
    color: #111;
  }

  #aboveaboveFooter,
  #insideOfflineTicks,
  #aboveFooter,
  #footer {
    background-color: #222a;
  }
  #donateToFlowerGod {
    &:not(:disabled) #recomended {
      color: #f00;
    }
    &:disabled #recomended {
      color: #f55;
    }
  }
}

#offlineTicks {
  width: calc(100vw - 16px - max(300px, 30vw));
  margin-left: min(300px, 30vw);
  top: 21px;
  position: absolute;
  text-align: right;
  right: 3px;
  position: fixed;
}
@media only screen and (max-width: 800px) {
}
