body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
#mainTabContent,
#tabs-container {
  div {
    width: fit-content;
  }
}
button {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1px;
}
.smallgap {
  margin-bottom: 8px;
  /* margin-bottom: 36px; */
  /* background: #000; */
}
.mediumgap {
  margin-bottom: 15px;
}
.biggap {
  margin-bottom: 21px;
}
.lighttext {
  color: gray;
}
.w10 {
  width: 25px;
  display: inline-block;
}
#totalTributes {
  padding-left: 1px;
}
a {
  text-decoration: none;
}
#ticksLeft {
  min-width: 150px;
  display: inline-block;
}
// #main div {
//   width: 100%;
// }
.t {
  td,
  tr {
    margin: 0;
    padding: 0;
  }
  td {
    padding-right: 3px;
  }
}

body:not(.dark-mode) {
  button {
    &:not(:disabled) {
      .recomended {
        color: #f00;
      }
    }
    &:disabled {
      .recomended {
        color: #f33;
      }
    }
  }
}

body.dark-mode {
  background-color: #222;
  input[type="text"] {
    background-color: #222;
    color: white;
    border: 0;
    text-align: right;
    font-family: monospace;
  }
  color: white;

  .lighttext {
    color: #999;
  }
  button {
    &:not(:disabled) {
      .recomended {
        color: #f00;
      }
    }
    &:disabled {
      .recomended {
        color: #f55;
      }
    }
  }
}

#offlineTicks {
  top: 0px;
  right: 0px;
  text-align: right;
  position: fixed;
  width: fit-content;
  background-color: #222a;
  box-shadow: 0 0 2px #222;
  padding: 3px;
}

body.dark-mode {
  #offlineTicks {
    background-color: #222a;
    box-shadow: 0 0 2px #222;
  }
}
body:not(.dark-mode) {
  #offlineTicks {
    background-color: #fffa;
    box-shadow: 0 0 2px #fff;
  }
}

@import "button";
@import "helper";
@import "tabs";

#settingsTabContent {
  table {
    tr {
      td {
        padding-right: 15px;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}

table.tbl {
  tr {
    td {
      text-align: center;
    }
  }
}
table.tbl2 {
  tr {
    td {
      padding-right: 15px;
    }
    td:nth-child(1) {
      text-align: right;
    }
    td:nth-child(2) {
      width: 120px;
      text-align: center;
    }
  }
}

table.tmr {
  tr {
    td {
      padding-right: 3px;
    }
    td:nth-child(1) {
      text-align: right;
    }
  }
}

.rjtext {
  color: #ff6411;
  background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, #ee5025f5, #ffcc11);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #fff4 0 0 4px;
}
*:disabled.rjtext {
  color: #ee5400;
  background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, #d54525f5, #ddcc11);
  text-shadow: #fff3 0 0 4px;
}

.fc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  & div {
    padding: 5px;
    padding-bottom: 7px;
    text-align: center;
    width: calc(150px + 11vw);
    max-width: 250px;
    display: inline-block;
    div:nth-child(1) {
      text-decoration: underline;
    }
    &:not(:nth-child(1)) {
      padding-bottom: 10px;
    }
  }
}

#offlineTicks {
  pointer-events: none;
  input {
    pointer-events: all;
  }
}

.ng {
  margin-top: 0;
}

#RJlastReset,
#lastRJfromflowers,
#lastRJfrompollen,
#lastRJfromnectar,
#lastRJfromhoney,
#lastRJfrommoney {
  padding-left: 11px;
}

.mr10 {
  margin-right: 10px;
}
.pr10 {
  padding-right: 10px;
}

#quickautoflowerBuy,
#quickautobeeBuy,
#quickautohiveBuy {
  margin-left: 10px;
}
