:root {
  --ticksWidth: 40vw;
  --headerPadding: 0px;
}

body {
  margin: 0;
  width: calc(100vw - 1px);
  padding: 0;
  overflow-x: hidden;
}

#main {
  padding: 8px;
  padding-bottom: 22px;
}

* {
  box-sizing: border-box;
}

#mainTabContent div,
#tabs-container div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 1px;
}

.smallgap {
  margin-bottom: 8px;
  /* margin-bottom: 36px; */
  /* background: #000; */
}

.mediumgap {
  margin-bottom: 15px;
}

.biggap {
  margin-bottom: 21px;
}

.lighttext {
  color: gray;
}

.w10 {
  width: 25px;
  display: inline-block;
}

#totalTributes {
  padding-left: 1px;
}

a {
  text-decoration: none;
}

#ticksLeft {
  min-width: 150px;
  display: inline-block;
}

.t td,
.t tr {
  margin: 0;
  padding: 0;
}
.t td {
  padding-right: 3px;
}

body:not(.dark-mode).bgc,
body:not(.dark-mode) *.bgc {
  background-color: white;
}
body:not(.dark-mode) input[type=text] {
  background-color: #fff;
  color: black;
  border: 0;
  text-align: right;
  font-family: monospace;
}
body:not(.dark-mode) input[type=text]:focus-within {
  background-color: #eee;
}
body:not(.dark-mode) button:not(:disabled) .recomended {
  color: #f00;
}
body:not(.dark-mode) button:disabled .recomended {
  color: #f33;
}

body.dark-mode {
  color: white;
}
body.dark-mode.bgc,
body.dark-mode *.bgc {
  background-color: #222;
}
body.dark-mode input[type=text] {
  background-color: #222;
  color: white;
  border: 0;
  text-align: right;
  font-family: monospace;
}
body.dark-mode input[type=text]:focus-within {
  background-color: #333;
}
body.dark-mode .lighttext {
  color: #999;
}
body.dark-mode button:not(:disabled) .recomended {
  color: #f00;
}
body.dark-mode button:disabled .recomended {
  color: #f55;
}

#absolute-container {
  z-index: 123;
}

#offlineTicks {
  top: 0px;
  right: 0px;
  text-align: right;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  z-index: 123;
}

.btn {
  padding: 1px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 1px;
}
.btn:not(:disabled) {
  cursor: pointer;
}

input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}

body.big-buttons .btn {
  padding: 3px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  padding-bottom: 4px;
}
body.big-buttons input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-top: 1px;
}

body:not(.dark-mode) button.btn {
  background-color: #e9e9ed;
  border-color: #8f8f9d;
}
body:not(.dark-mode) button.btn:hover {
  background-color: #ccc;
}
body:not(.dark-mode) button.btn:active {
  background-color: #a5a5a5;
}
body:not(.dark-mode) button.btn:disabled {
  background-color: #999;
  border-color: #9c9c9f;
  color: #222;
}

body.dark-mode button.btn {
  background-color: #e9e9ed;
  border-color: #8f8f9d;
}
body.dark-mode button.btn:hover {
  background-color: #d8d8d8;
}
body.dark-mode button.btn:active {
  background-color: #a9a9a9;
}
body.dark-mode button.btn:disabled {
  background-color: #808080;
  border-color: #8f8f9d;
  color: #111;
}

#exchangeForRJ {
  background-color: #ffcc11;
  border-color: #ccbb22;
  text-shadow: rgba(255, 255, 170, 0.7333333333) 0 0 4px;
  background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, rgba(238, 80, 37, 0.9607843137), #ffcc11);
  box-shadow: rgba(255, 255, 170, 0.5333333333) 0 0 4px;
}
#exchangeForRJ:hover {
  border-color: #9c7a00;
  background-color: #efbf0f;
  background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, rgba(213, 69, 37, 0.9607843137), #ddcc11);
}

body.dark-mode #exchangeForRJ {
  background-color: #ffcc11;
  border-color: #ddaa00;
  text-shadow: rgba(255, 255, 170, 0.7333333333) 0 0 4px;
  background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, rgba(238, 80, 37, 0.9607843137), #ffcc11);
  box-shadow: rgba(255, 255, 170, 0.2666666667) 0 0 4px;
}
body.dark-mode #exchangeForRJ:hover {
  border-color: #aa9900;
  background-color: #ddaa00;
  background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, rgba(213, 69, 37, 0.9607843137), #ddcc11);
}

.line {
  border-top: 1px solid silver;
  margin-top: 3px;
  padding-bottom: 3px;
}

.tabs-container {
  width: calc(100vw - 200px);
  margin-bottom: 0px;
}

div[id*=TabContent] {
  margin-top: 8px;
}
div[id*=TabContent] div[class*=tabs-container] {
  margin-top: -3px;
}

div[class*=tabs-container] button {
  margin-bottom: 5px;
  font-size: medium;
  cursor: pointer;
}
div[class*=tabs-container] div:first-child {
  margin-left: 5px;
}
div[class*=tabs-container] div:last-child {
  margin-right: 5px;
}

#mainTabContent,
#jellyTabContent,
#godsTabContent,
#statshelpTabContent,
#settingsTabContent {
  margin-bottom: 15px;
}

#settingsTabContent table tr td {
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: center;
}

table.tbl tr td {
  text-align: center;
}

table.tbl2 tr td {
  padding-right: 15px;
}
table.tbl2 tr td:nth-child(1) {
  text-align: right;
}
table.tbl2 tr td:nth-child(2) {
  width: 120px;
  text-align: center;
}

table.tmr tr td {
  padding-right: 3px;
}
table.tmr tr td:nth-child(1) {
  text-align: right;
}

.rjtext {
  color: #ff6411;
  background: linear-gradient(211deg, #ff6411, #ffcc11), linear-gradient(161deg, rgba(238, 80, 37, 0.9607843137), #ffcc11);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0.2666666667) 0 0 4px;
}

*:disabled.rjtext {
  color: #ee5400;
  background: linear-gradient(211deg, #ee5400, #ddc000), linear-gradient(161deg, rgba(213, 69, 37, 0.9607843137), #ddcc11);
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 4px;
}

.fc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fc div {
  padding: 5px;
  padding-bottom: 7px;
  text-align: center;
  width: calc(150px + 11vw);
  max-width: 250px;
  display: inline-block;
}
.fc div div:nth-child(1) {
  text-decoration: underline;
}
.fc div:not(:nth-child(1)) {
  padding-bottom: 10px;
}

#offlineTicks {
  pointer-events: none;
}
#offlineTicks input {
  pointer-events: all;
}

.ng {
  margin-top: 0;
}

#RJlastReset,
#lastRJfromflowers,
#lastRJfrompollen,
#lastRJfromnectar,
#lastRJfromhoney,
#lastRJfrommoney {
  padding-left: 11px;
}

.mr10 {
  margin-right: 10px;
}

.pr10 {
  padding-right: 10px;
}

#quickautoflowerBuy,
#quickautobeeBuy,
#quickautohiveBuy {
  margin-left: 10px;
}

.fc2 {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fc2 .wrapper {
  text-align: center;
  width: 270px;
  max-width: 280px;
  height: 165px;
  margin: 3px;
  padding: 5px;
  position: relative;
}
.fc2 .up span {
  float: right;
}
.fc2 .down {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.fc2 .btn {
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

body.big-buttons .fc2 .btn {
  padding: 6px;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 1396px) {
  .fc2 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 578px) {
  .fc2 {
    margin-right: -20px;
  }
  .fc2 .wrapper {
    max-width: none;
    width: calc(90% + 5px);
    height: 145px;
    margin-bottom: 1px;
  }
}
#mainTabContent {
  padding-right: 8px;
}

body:not(.dark-mode) #header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body:not(.dark-mode) body:not(.more-contrast) .wrapper {
  background-color: rgba(34, 34, 34, 0.1333333333);
}
body:not(.dark-mode) body:not(.more-contrast) .wrapper .up span {
  color: gray;
}
body:not(.dark-mode) body:not(.more-contrast) .wrapper.d {
  background-color: rgba(34, 34, 133, 0.2078431373);
}
body:not(.dark-mode) body:not(.more-contrast) .wrapper.d .line {
  border-color: rgba(51, 51, 153, 0.3333333333);
}
body:not(.dark-mode) body:not(.more-contrast) .wrapper.d .up span {
  color: #77a;
}
body:not(.dark-mode) body.more-contrast .lighttext {
  color: #ddd;
}
body:not(.dark-mode) body.more-contrast .line {
  border-color: rgba(0, 0, 0, 0.6);
}
body:not(.dark-mode) body.more-contrast .wrapper {
  background-color: rgba(34, 34, 34, 0.1333333333);
}
body:not(.dark-mode) body.more-contrast .wrapper .up span {
  color: #444;
}
body:not(.dark-mode) body.more-contrast .wrapper.d {
  background-color: rgba(34, 34, 133, 0.2078431373);
}
body:not(.dark-mode) body.more-contrast .wrapper.d .up span {
  color: #353565;
}

body.dark-mode #header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark-mode:not(.more-contrast) .wrapper {
  background-color: rgba(255, 255, 255, 0.4);
}
body.dark-mode:not(.more-contrast) .wrapper .up span {
  color: #fff;
}
body.dark-mode:not(.more-contrast) .wrapper.d {
  background-color: rgba(34, 34, 133, 0.2078431373);
}
body.dark-mode:not(.more-contrast) .wrapper.d .line {
  border-color: rgba(187, 187, 187, 0.2);
}
body.dark-mode:not(.more-contrast) .wrapper.d .up span {
  color: #77a;
}
body.dark-mode.more-contrast .lighttext {
  color: #777;
}
body.dark-mode.more-contrast .line {
  border-color: rgba(187, 187, 187, 0.3333333333);
}
body.dark-mode.more-contrast .wrapper {
  background-color: rgba(34, 34, 34, 0.1333333333);
}
body.dark-mode.more-contrast .wrapper .up span {
  color: #ccc;
}
body.dark-mode.more-contrast .wrapper.d {
  background-color: rgba(34, 34, 133, 0.2078431373);
}
body.dark-mode.more-contrast .wrapper.d .up span {
  color: #353565;
}

#header {
  width: 100%;
  padding-left: 8px;
  padding-top: 5px;
  z-index: 123;
  min-height: 47px;
}

#header > #top {
  margin-top: -8px;
}

#header > #challenges-info {
  margin-top: -8px;
}

.sticky {
  position: fixed;
  top: 0;
}

#header.sticky + #main {
  padding-top: 5px;
}

#challenges-info {
  width: calc(100% - var(--ticksWidth));
  min-width: 120px;
}

#challengeCompletion,
#challengeCurrent,
#sacrificeWrapper span.lighttext {
  display: inline-block;
}

.footer {
  position: fixed;
  right: 3px;
  text-align: right;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 3px;
}/*# sourceMappingURL=style.css.map */